//Colors
$dark: #000000;
$light: #ffffff;
$stColor: #5a19b4;
$ndColor: #00d2d2;
$bodyBg: #f2f7f9;
$bodyDarkBg: #151515;
$textColor: #333333;
$darkBg: #191e3c;
$tr: 0.3s ease-in-out;
//Fonts
$myFont: "Roboto", sans-serif;
